In [2]:
from IPython.display import display, Math, Latex
import numpy as np
np.seterr(divide='ignore', invalid='ignore')

%matplotlib inline
from scipy.integrate import odeint
import matplotlib
import matplotlib.pyplot as plt
import math

In [32]:

# defining variables
u_e = 2
h = 6.626*math.pow(10, -34)
m_p= 1.67*(math.pow(10,-27))
c= 3*math.pow(10,8)
# computing the K
k= ((3/math.pi)**(1/3))*((h*c)/8)*((1/(u_e*m_p))**(4/3))
k

4900922905.690681

Solving the constant

In [34]:
pi_1= math.pow(math.pi, 0.5)
G= 6.67*math.pow(10, -11)
K_1= k/G
# computing the constants
M_1 = (-4/pi_1)*math.pow(K_1,1.5)
M_1

-1.4213895244846304e+30

In [35]:
 def G(n):
    """
    Solving Lane-Emden Equation
    input: n, int
    output: zhi_store, teta_store, d in array
    """
    # initialising the variables
    zhi_i = 0.00001
    d_zhi = 0.001
    dteta = 0
    teta = 1
    teta_store = [] # creating empty tetha list to store values
    zhi_store = [] # creating empty zhi list to store values
    d =[]
    zhi_n = zhi_i # creating a dummy variable 
    # looping through while loop
    while(teta >= 0) and (zhi_n < 20):
        zhi_n = d_zhi+ zhi_n 
        dteta_n = dteta - (((2/zhi_n)*dteta)+teta**n)*d_zhi
        teta_n = teta + dteta_n*d_zhi
        dteta = dteta_n # updating the dteta
        teta  = teta_n # updating the teta
        teta_store.append(teta) # appending teta values to list
        zhi_store.append(zhi_n) # appending the zhi values to list
        d.append(dteta_n)

    zhi_store = np.array(zhi_store)
    teta_store = np.array(teta_store)
    d= np.array(d)    
    return (zhi_store, teta_store, d)

In [38]:
data=G(3)

In [43]:
G(3)[1]

array([ 9.99999000e-01,  9.99997995e-01,  9.99996658e-01, ...,
        6.15139975e-05,  1.91374853e-05, -2.32267439e-05])

In [40]:
import pandas as pd

Creating the dataframe of  from the tupple

In [50]:
d={'zhi':G(3)[0], 'teta':G(3)[1], 'dteta':G(3)[2]}

In [51]:
df = pd.DataFrame(d)

In [52]:
df

          zhi      teta     dteta
0     0.00101  0.999999 -0.001000
1     0.00201  0.999998 -0.001005
2     0.00301  0.999997 -0.001337
3     0.00401  0.999995 -0.001670
4     0.00501  0.999993 -0.002003
...       ...       ...       ...
6895  6.89601  0.000146 -0.042413
6896  6.89701  0.000104 -0.042401
6897  6.89801  0.000062 -0.042389
6898  6.89901  0.000019 -0.042377
6899  6.90001 -0.000023 -0.042364

[6900 rows x 3 columns]

Sorting the teta value near to zero

In [54]:
df.iloc[(df['teta']-0).abs().argsort()[:1]]

          zhi      teta     dteta
6898  6.89901  0.000019 -0.042377

In [57]:
M_2= M_1*(6.89901**2)*-0.042377

In [56]:
M_0= 1.989*(10**30)

Chandrashekhar mass limit in terms of solar mass

In [58]:
M_2/M_0

1.4413919245611722